<style media="screen">
img {
  border: 2px solid black;
}
span {
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
.sidebar-nav {
  margin-left: 1em;
}
.user-container {
  padding: 10px;
  background-color: #f3f3f3;
}
</style>

<div id="sidebar-wrapper">
  <div class="sidebar-nav">

    <div class="user-container">

      <div class="row user-info">
        <div class="col-md-3">
          <img class="img-responsive img-gravatar" src="images/browse.jpg"></img>
        </div>
        <div class="col-md-9 user-details">
          <div>
            <span>Amina Yamusah</span> | Bloc
          </div>
          <a href="#">Manage profile</a>
        </div>
      </div>
      <br>
      <div class="user-goals">
        <span>My Goals</span>
        <ol>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>

    </div>

    <div class="filter">
      <h3><span>Filter</span></h3>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>
              <span>Shares & Asks</span>
            </td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Jobs</span>
            </td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Events</span>
            </td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Resources</span>
            </td>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <div class="history">
      <h3><span>Recent History</span></h3>
      <ul>
        <li>Community Engagement @ Uncommon Good | App Started</li>
        <li>"Plugs at NAACP?" | New Shares</li>
        <li>Tech openings at Netflix? | Liked</li>
      </ul>
    </div>

  </div>
</div>
