<style media="screen">

span {
  text-transform: uppercase;
}
.sidebar-nav {
  margin-left: 1em;
}
.user-container {
  padding: 1em;
  background-color: #f3f3f3;
  margin-bottom: 2.5em;
}
.img-gravatar {
  min-height: 4em;
  width: 100%;
  border: 2px solid black;
}
.table {
  width: 75%;
}
</style>

<div id="sidebar-wrapper">
  <div class="sidebar-nav">

    <section class="user-container">
      <div class="row user-info">
        <div class="col-md-3">
          <img class="img-gravatar" src="images/browse.jpg"></img>
        </div>
        <div class="col-md-9 user-details">
          <div>
            <h3><span>Amina Yamusah</span> | Bloc</h3>
          </div>
          <a href="#">Manage profile</a>
        </div>
      </div>
      <br>
      <div class="user-goals">
        <h4><span class="glyphicon glyphicon-list"></span> <span>Goals</span></h4>
        <ul>
          <li>goal 1</li>
          <li>goal 2</li>
          <li>goal 3</li>
        </ul>
      </div>

    </section>

    <section class="filter">
      <h3><span class="glyphicon glyphicon-filter"></span> <span>Filter</span></h3>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
              <span>Shares & Asks</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>  <span>Jobs</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
              <span>Events</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-unchecked"></span>
              <span>Resources</span>
            </td>
          </tr>
        </table>

      </div>
    </section>

    <section class="history">
      <h3><span class="glyphicon glyphicon-time"></span> <span>Recent History</span></h3>
      <ul>
        <li>Community Engagement @ Uncommon Good | App Started</li>
        <li>"Plugs at NAACP?" | New Shares</li>
        <li>Tech openings at Netflix? | Liked</li>
      </ul>
    </section>

  </div>
</div>
